
	{{#each list}}
	    <div class='wrap_item'>
	
	    	<img src="{{photo_100}}"/>
	    	<div class='fio'>{{first_name}} {{last_name}}</div>
	    	<i id='event_button' class="fa {{../icon}}"></i>
	    	<div hidden>{{id}}</div>

	    </div>
	{{/each}}
